.admin__layout {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    min-width: 85%;
}
.admin__layout .pagination {
    margin-left: auto;
}
.action-link {
    padding: 8px 10px;
    background-color: #6c7ae0;
    color: white;   
    border-radius: 4px;
    border-color:transparent;
    max-height: 32px;
}
.action-link:hover {
   color: white;
}
.action-link > input {
    background-color: transparent;          
    border: none;   
}
.admin__table {
    margin-top: 3%;
    border: 1px solid rgb(255, 255, 255, 0);
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 0 12px 4px #f1f1f1;
    text-align: center;
}
.table-vertical {
    text-align: left !important;
    box-shadow: 0 0 12px 4px #ddd;
}
.table-vertical th {
    width: 20%;
    text-align: center !important;
}
.table-vertical td {
    width: 80%;
}
.table-vertical tr:first-child th {
    border-top-left-radius: 12px;   
}
.table-vertical tr:last-child th {
    border-bottom-left-radius: 12px;
}
.table-vertical input, .table-vertical textarea {
    min-width: 100%;
}
.admin__table tbody {
    color: gray;
    font-size: 15px;
    line-height: 1.4;
}

.admin__header {
    background-color: #6c7ae0;
    color: white;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
}
.admin__table td, .admin__table th {
    padding: 18px 24px;
    border: 1px solid rgb(255, 255, 255, 0);
    border-bottom: 1px solid #ccc;
}
.word-break {
    width: 20% !important;
    word-break: break-word !important;
}
.admin__table tr:last-child td {
    border-bottom: none;
}
.admin__header th:first-child {
    border-radius: 12px 0 0 0;
}

.admin__header th:last-child {
    border-radius: 0 12px 0 0;
}
.admin__table > tbody > tr:last-child td:first-child {
    border-radius: 0 0 12px 0 !important;
}
.admin__table > tbody > tr:last-child td:last-child {
    border-radius: 0 0 0 12px;
}


input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 12px;
}
.image-field {
    text-align: left;
}