@model Book_Shop.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<link href="~/Content/admintable.css" rel="stylesheet" />
<div class="container">
    <h1 class="mt-4">XÓA LOẠI SÁCH</h1>

    @*<h3>Are you sure you want to delete this?</h3>*@
    <div class="admin__layout">
        <table class="admin__table">
            <thead>
                <tr class="admin__header">
                    <th style="text-align:center">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.name)</td>
                </tr>
            </tbody>
        </table>
        @using (Html.BeginForm("Delete", "Categories", FormMethod.Post, new { style = "margin-left: auto" }))
        {
            @Html.AntiForgeryToken()

            <div class="pagination" style="margin-top:10px; margin-bottom:10px">
                <a href="/Categories/Index" class="action-link" style="margin-right: 10px">Back to list</a>
                <a href="/Categories/Index" class="action-link"><input type="submit" style="color: white" value="Delete" /></a>
            </div>
        }
    </div>

</div>
