@model Book_Shop.Models.User
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            ChangePassWord
                        </div>
                        <div class="panel-body">
                            <form action="/Users/ChangePassWord" method="post">
                                <div class="form-group col-xs-6">
                                    <label for="name-field">Account</label>
                                    <input type="text" class="form-control" id="name-field" name="account" placeholder="Your name" required>
                                </div>

                                <div class="form-group col-xs-6">
                                    <label for="name-field">Password Old</label>
                                    <input type="password" class="form-control" id="name-field" name="password" placeholder="Your name" required>
                                </div>

                                <div class="form-group col-xs-6">
                                    <label for="name-field">Password New</label>
                                    <input type="password" class="form-control" id="name-field" name="passwordNew1" placeholder="Your name" required>
                                </div>

                                <div class="form-group col-xs-6">
                                    <label for="name-field">Password New Agian</label>
                                    <input type="password" class="form-control" id="name-field" name="passwordNew2" placeholder="Your name" required>
                                </div>

                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                                </div>

                                <p>@ViewBag.Kq</p>
                                <a>@Html.ActionLink("login", "Login", "Users")</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

