@model Book_Shop.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmGmail</title>
</head>
<body>
    <h1>Xac nhan gmail</h1>
    <a>Chúng tôi đã gửi mã xác nhận qua gmail của bạn vui lòng nhập mã xác nhận ở đây để đăng ký!</a>
    <form method="post">
        <input name="confirm" type="text" />
        <input type="submit" /> <br/>
        <span style="color:red">@ViewBag.error</span>
    </form>
    <div> 
    </div>
</body>
</html>
