
@{
    ViewBag.Title = "Forgot Passworld";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Forgot password
                        </div>
                        <div class="panel-body">
                            @if (@ViewBag.Error != null)
                            {
                                <div class="alert alert-danger">@ViewBag.Error</div>

                            }
                            @if (@ViewBag.Result != null)
                            {
                                <div class="alert alert-success">@ViewBag.Result</div>

                            }
                            @using (Html.BeginForm("ForgotPassword", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group col-xs-6">
                                    <label for="name-field">Tên Tài khoản</label>
                                    <input type="text" class="form-control" id="name-field" name="account" placeholder="Your name" required>
                                </div>
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                                </div>
                            }
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>