@model Book_Shop.Models.PromoCode

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div class="admin__layout">
    <table class="admin__table">
        <thead>
            <tr class="admin__header">
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Value</th>
                <th style="text-align:center">Code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.name)</td>
                <td>@Html.DisplayFor(model => model.value)</td>
                <td>@Html.DisplayFor(model => model.code)</td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm("Delete", "PromoCodes", FormMethod.Post, new { style = "margin-left: auto" }))
    {
        @Html.AntiForgeryToken()

        <div class="pagination">
            <a href="/PromoCodes/Index" class="action-link">Back to list</a>
            <a href="/PromoCodes/Index" class="action-link"><input type="submit" value="Delete" /></a>
        </div>
    }
</div>
