@model Book_Shop.Models.Order_Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div class="admin__layout">
    <table class="admin__table">
        <thead>
            <tr class="admin__header">
                <th style="text-align:center">Quantity</th>
                <th style="text-align:center">Price</th>
                <th style="text-align:center">Status</th>
                <th style="text-align:center">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.quantity)</td>
                <td>@Html.DisplayFor(model => model.price)</td>
                <td>@Html.DisplayFor(model => model.Order.status)</td>
                <td>@Html.DisplayFor(model => model.Product.name)</td>

            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <a href="/Order_Product/Edit/@Model.id" class="action-link">Edit</a>
        <a href="/Order_Product/Index" class="action-link">Back to list</a>
    </div>
</div>
