@model Book_Shop.Models.Payment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<link href="~/Content/admintable.css" rel="stylesheet" />
<div class="container">
    <h1 class="mt-4">CHI TIẾT THANH TOÁN</h1>

    <div class="admin__layout">
        <table class="admin__table">
            <thead>
                <tr class="admin__header">
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">CardNumber</th>
                    <th style="text-align:center">Money</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.name)</td>
                    <td>@Html.DisplayFor(model => model.cardNumber)</td>
                    <td>@Html.DisplayFor(model => model.money)</td>

                </tr>
            </tbody>
        </table>
        <div class="pagination" style="margin-top:10px; margin-bottom:10px">
            <a href="/Payments/Edit/@Model.id" class="action-link" style="color: white">Edit</a>
            <a href="/Payments/Index" class="action-link" style="margin-left: 10px">Back to list</a>
        </div>
    </div>

</div>
